{% extends 'default.html' %}

{% block pagetitle %}
    {{ page_title }}
{% endblock %}


{% block content %}
    <h1>Title: {{event.title}}</h1>
    <p>Date: {{event.time}}</p>
    <p>Location: {{event.location_name}}</p>
    <p>Description: {{event.description}}</p>
    <p>Address: {{event.address}}</p>
    <p>Lat/Long: {{event.location_lat}}, {{event.location_long}}</p>
    <p>Host: {{event.host}}</p>
  <!-- </div> -->

  {% if user.is_authenticated %}
    {% if user == event.host.user%}
    <p>You created this event</p>
    {% csrf_token %}
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary waves-effect waves-light" name="delete{{ signaturedeleteform}}">
        Delete
      </button>
    </div>
    {% endif %}
  {% endif %}

{% endblock %}
