{% extends 'default.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}

{% block content %}
  <div class="container login-register-ui shadow-lg">
    <div class="row flexbox-container">
      <div class="col-8 login-register-right align-items-center rounded-right py-2">
        <h5 class="card-title">Welcome!</h5>
        <p>Log in with your username and password.</p>
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              {% if form.errors %}
                   {% for field in form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                    {% endfor %}
                   {% endfor %}
              {% endif %}

              <label>Username</label>
              <input type="text" name="username" value="" class="form-control">

              <label>Password</label>
              <input type="password" name="password" value="" class="form-control">
          </fieldset>
          <div class="form-group">
              <button class="btn btn-primary btn-lg mr-1 mb-1 waves-effect waves-light" type="submit">Login</button>
          </div>
        </form>

        <p>Don't have an account?</p>
        <a class="btn btn-primary btn mr-1 mb-1 waves-effect waves-light" href="{% url 'register' %}">Join meetmaps!</a>
      </div>
    </div>
  </div>
{% endblock %}
